@import "tailwindcss";

*{

  box-sizing: border-box;
 
}

@theme{

  /* Primary colors */

  --color-offwhite:#f0ece6;
  --color-black:#000000;
  --color-gray:#8888a0;
  --color-lightHover:#fcf4ff;
  --color-darkHover:#2a004a;
  --color-darkTheme:#11001f;
  --color-orange-light:#e8a427;

  /* Black */
  --color-black-100:#000000;








  /* Fonts */
  
  --font-outfit:"Outfit",sans-serif;
  --font-ovo:"Ovo",serif;
  --font-fraunches:"Fraunces",serif;
  --font-body:"Plus Jakarta Sans", sans-serif;
  --font-geist-mono:"Geist Mono", monospace;
}

